<div class="paginated-products__product" style="width: 22.5%; flex-shrink: 0;">
  <div class="products-list-card products-list-card--featured">
    <a href="{{ card_product.url }}" class="products-list-card__photo-link">
      <div class="products-list-cart__photo">
        <span class="parent-lazy-load parent-lazy-load--visible products-list-card__photo__lazyload parent-lazy-load-image">
          <img
            class="image parent-lazy-load-image__image transform ease-elastic transition-all hover:scale-[1.0625]"
            src="{{ card_product.featured_image | image_url: width: 340 }}"
            alt="{{ card_product.featured_image.alt }}"
            loading="lazy"
            style="transition-duration: .5s"
          >
        </span>
      </div>
    </a>
    <a href="{{ card_product.url }}" class="products-list-card__details-link"
    title="{{ card_product.title }}">
      <div class="products-list-card__placeholder">
        <div class="products-list-card__details">
          <div class="products-list-card__name-and-brand">
            <span class="products-list-card__name">{{ card_product.title | truncate: 30 }}</span>
          </div>
        </div>
      </div>
    </a>
    <ul class="products-list-card__actions">
      <li class="products-list-card__actions__option-selector products-list-card__actions__action">
        <span class="products-list-card__options">
          <div class="dropdown dropdown--disabled dropdown-selector dropdown-selector--single-option products-list-card__option-selector">
            <a class="dropdown__trigger dropdown-selector__trigger">
              <span class="products-list-card__option">
                <div class="products-list-card__options-pricing">
                  {%- if card_product.compare_at_price >  card_product.price -%}
                    <span class="price__price price__sales-price price__sales-price--color">
                      {{ card_product.price | money }}
                    </span>
                    <span class="price__price price__with-sales-price strikethrough">
                      {{ card_product.compare_at_price | money }}
                    </span>
                  {%- else -%}
                    <span class="price__price price__sales-price price__sales-price--color">
                      {{ card_product.price | money }}
                    </span>
                  {%- endif -%}
                </div>
              </span>
            </a>
          </div>
        </span>
      </li>
      <li class="products-list-card__actions__add-remove-cart products-list-card__actions__action">
        {%- assign card_product_id = card_product.first_available_variant.id -%}
        <button id="SubmitBtn-{{ card_product_id }}-{{ card_product_index }}" class="products-list-card__add-to-cart button white success" type="button" data-id="{{ card_product_id }}">Add to cart</button>
      </li>
    </ul>
    <span class="badge products-list-card__badge">
      <svg class="icon icon-star badge__icon"><use xlink:href="#icon-star"></use></svg>
      <span class="badge__text">Featured</span>
    </span>
    {%- if card_product.compare_at_price > card_product.price -%}
      <span class="badge badge__on-sale products-list-card__badge products-list-card__on-sale-and-featured">
        <svg class="icon icon-tag badge__icon"><use xlink:href="#icon-tag"></use></svg>
        <span class="badge__text">On Sale</span>
      </span>
    {%- endif -%}
  </div>
</div>